.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking {
    min-width: 396px;
    padding: 20px 40px;
    margin: 30px 0;
    background: #F4F5F7;
    .form-control {
        outline: none;
        box-shadow:none !important;
        border:1px solid #ccc !important;
        border-radius: 0;
        height: 42px;
    }
}

.booking-destination {
    display: flex;
    margin-top: 10px;
    > div:first-child {
        flex-grow: 1;
    }
    > div:last-child {
        padding: 0 10px;
        display: flex;
        align-items: center;
        background: white;
        border:1px solid #ccc;
        border-left: none;
        cursor: pointer;
    }
}

.booking-info {
    margin: 0 10px;
}

@media (max-width: $desktop-breakpoint) {
    .booking {
        min-width: unset;
        width: 100%;
        padding: 20px 20px;
    }
}