.dashboard-main {
    margin: 56px 0 0 260px;
    padding-bottom: 40px;
}

@media (max-width: $desktop-breakpoint) {
    .dashboard-main {
        margin: 0;
    }
}

.jumbotron {
    margin-bottom: 0;
    background: #0747A6;
    color: white;
    border-radius: 0;
    text-align: center;
}

.jumbotron hr {
    border: .3px solid white;
}

.jumbotron .display-3 {
    font-size: 2.5rem;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 0 2rem 1rem 2rem;
        text-align: left;
    }
}
