.nav-form .form-control {
    background: #f3f6f8;
}  

.nav-form .form-control:focus {
    background: white;
}

.nav-form .btn-outline-secondary {
    color: white;
}

.nav-form .btn-outline-secondary:hover {
    background: white;
    color: black;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    font-size: 1 rem;
}



@media (max-width: $desktop-breakpoint) {
}