.bg-light {
    background-color: #0747A6 !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-toggler {
    background: white;
}