.modal-body {
    display: flex;
    padding: 0;
    min-height: 500px;
}

.modal-body .form-control {
    border-radius: 20px;
}

.modal-body__carousel {
    background: black;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-body__carousel .carousel-close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.modal-body__post-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
    min-width: 50%;
    background: #F2F3F5;
}

.post-info {
    display: flex;
    align-items: center;
    padding: 10px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    p {
        margin: 0;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comments__main {
    overflow-y: auto;
    max-height: 400px;
    padding: 10px 20px; 
    list-style-type: none;
    flex-grow: 1;
    > li {
        margin-bottom: 10px;
    }
    .form-control {
        margin-top: 10px;
    }
}

.comments-form {
    display: flex;
    padding: 10px;
    > * {
        margin-right: 10px;
    }
}

.comment__main {
    display: inline-block;
    background: white;
    padding: 8px;
    word-break: break-all;
    border-radius: 20px;
    margin: 5px;
}

.reply {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reply__main {
    @extend .comment__main;
    > * {
        margin-right: 3px;
    }
}

@media (min-width: 800px) {
    .modal-dialog {
        max-width: 90%;
        margin: 1.75rem auto;
    }
}

@media (max-width: $desktop-breakpoint) {
    .modal-body {
        flex-direction: column;
    }
    .modal-body__post-info {
        flex-direction: column;
        min-width: 100%;
    }
}