.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 260px;
    background: #F4F5F7;
}


.sidebar .list-group {
    padding: 20px;
}

.sidebar .list-group-item {
    background-color: #F4F5F7;
    border: none;
    &:hover {
        background-color: #EAECF0;
    }
}

.sidebar .list-group-item.active {
    color: black;
    background-color: #EAECF0;
}