.table {
    margin-bottom: 0px;
  }

  .table thead th {
    font-weight: 600;
    background: #FB9779;
    color: white;
    border-bottom: none;
  }

  .table th, .table td { 
    vertical-align: middle;
  }

  @media screen and (max-width: 900px) {
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
      margin: .625em;
      border: 1px solid #cacccd
    }
    
    table td {
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }