.usersFilterContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    span {
        margin-right: 10px;
    }
    .Select-control {
        width: 260px;
    }
}
@media (max-width: $desktop-breakpoint) {
    .usersFilterContainer {
        flex-direction: column;
        align-items: unset;
    }
}