.userTypeCreate-form {
    display: flex;
    justify-content: center;
    margin: 20px;
    .form-control {
        margin-right: 5px;
        max-Width: 396px;
    }
}

@media (max-width: $desktop-breakpoint) {
    .userTypeCreate-form {
        flex-direction: column;
        > * {
            margin-bottom: 5px;
        }
    }
}